.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.welcomeText {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}
