.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 0;
  background-color: #61dafb;
  display: flex;
  justify-content: center;
}
.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-left: 1rem;
}

.loginLogoutButton {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #61dafb;
  cursor: pointer;
  margin-right: 1rem;
}
