.password-tooltip {
  background-color: rgb(237, 237, 237);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  width: 200px;
  position: relative;
}

.validation-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.validation-icon {
  font-size: 18px;
  margin-right: 10px;
}

.validation-success {
  color: var(--color-blue);
}

.validation-failure {
  color: var(--color-red);
}

.password-tooltip::before {
  content: '';
  position: absolute;
  top: 30%;
  left: -10px;
  transform: translateY(-50%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid rgb(237, 237, 237);
}
